// Define variables for your color scheme

// For example:
$red: #ef3e36;
$blue: #17bebb;
$pink: #f7b2b1;
$orange: #f46036;
$yellow: #f46036;
$green: #17bebb;
$gray: #2e282a;
$light-gray: #F5F6F7;
$white: #ffffff;
