<div class="backgroundlanding" style="background-image: url('#');">


<div style="width: 60vw; margin:auto; padding:20px; color: #f4f4f4;">
  <div class="boxform " style=" padding:20px;">
<center>

  <h1 style="color:#17bebb; font-size: 82px;"><i class="fa fa-check-circle "></i></h1>
<h3>Félicitations !
</h3>
<br/>
<p>Nous vous êtes bien enregistré pour notre offre de lancement! Nous vous avons envoyé un email de bienvenue - nous vous remercions pour la confirmation ! Bientôt vous allez bientôt recevoir notre offre de lancement!</p>

<br/>
<p>A très bientôt,</p>
<p>Votre Equipe ELIANA Media.</p>

<%= image_tag 'logo.png', width: "200px" %>
<p>hello@elianamedia.com</p>
<br/>
</center>
  </div>
</div>


